#include "RulesDialog.h"

IDD_RULES_DIALOG DIALOG 0, 0, 300, 400
STYLE WS_CAPTION | WS_POPUP | WS_SYSMENU | DS_MODALFRAME
CAPTION "Rules"
BEGIN
    DEFPUSHBUTTON "&Close", ID_DIALOG_CLOSE_BUTTON , 0, 0, 100, 25
END

