#include "dialog.h"

RULES_DIALOG DIALOG 0, 0, 300, 400
STYLE WS_CAPTION | WS_POPUP | WS_SYSMENU | DS_MODALFRAME
CAPTION "Rules"
BEGIN
    DEFPUSHBUTTON "&Close", DIALOG_CLOSE_BUTTON, 65, 145, 100, 25
END

